.table {
    display: grid;
    top: 108px;
    position: relative;
}

.table-item {
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    text-align: center;
    padding: 20px;
    font-size: 16px;
    border: 1px solid black;

}

.item1 {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.item2 {
    grid-column: 3;
    grid-row: 1 / span 2;
}

.item5 {
    grid-column: 1 / span 3;
    grid-row: 3;
}



.item2 img {
    position: relative;
}

.footer {
    position: relative;
    top: 108px;
}

@media screen and (max-width: 768px) {
    .table-item {
        font-size: 10px;
        overflow-y: hidden;
    }

    .item5 img {
        width: 360px;
    }
}